:root {
  --bg-dark-grey: #2A2A2A;
  --txt-white-100: #FFFFFF;
  --txt-white-50: rgba(255, 255, 255, 0.50);
  --txt-white-70: rgba(255, 255, 255, 0.70);
}

* {
  margin: 0;
  padding: 0 8%;
  font-family: Inter, sans-serif;
  text-decoration: none;
  list-style: none;
  background-color: var(--bg-dark-grey);
  list-style: none;
}