ul {
    display: flex;
    width: 100%;
    color: var(--txt-white-100);
}

código de verificação
n da nota fiscal
select de cidade / prefeitura
upload cnab ou xmls / csv ou upload de um pdf com uma nota ou um zip com vários notas
